.chat-message-user {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.chat-message-robot {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.chat-message-text {
  padding: 15px 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  margin: 0 10px 0 10px;
  max-width: 300px;
}